{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact-us
{% endblock %}
{% block content %}
<div class="col-lg-8" data-aos="fade-up" data-aos-delay="200" style="margin: 7rem 12rem;">
    <h2 style="padding-bottom: 10px;"> Change password : </h2>
    {% include 'messa.html' %}
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            
            <div class="col-12 mb-3">
                <input type="email" class="form-control" placeholder="Your Email" name="email">
            </div>
            <div class="col-12 mb-3">
                <input type="password" class="form-control" placeholder="Enter your old password" name="oldpassword">
            </div>
            <div class="col-12 mb-3">
                <input type="password" class="form-control" placeholder="Enter your new password" name="newpassword"> 
            </div>

            <div class="col-12">
                <input type="submit" value="Change password" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>



{% endblock %}